<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue@4/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/css/login_style.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>ログイン</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">ユーザー名:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">パスワード:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">ログイン</button>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>
    <div id="speeddial">
        <p-speeddial :model="items" :radius="100" type="quarter-circle" direction="down-left" tooltipOptions="{ position: 'left', event: 'hover' }" />
    </div>
    <script src="{% static 'authentication/js/vue_authentication_scripts.js' %}" type="module"></script>
</body>
</html>