<!DOCTYPE html>
<html>
<head>
    <title>生成された英単語</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" media="print" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'flatTestMaker/css/generated_sample25_style.css' %}">
    <script src="{% static 'flatTestMaker/js/generated_sample25_scripts.js' %}"></script>
</head>
<body>
    <h1>生成された英単語</h1>
    <button id="english-to-japanese-button" class="button">英語→日本語</button>
    <button id="japanese-to-english-button" class="button">日本語→英語</button>
    <button onclick="printContent()" class="button">印刷</button>
    <a href="{% url 'settings' %}">戻る</a>
    <div class="print-area">
        <div id ="english-to-japanese-content" class="tab">
            <div class="printer-setting">
                    <table>
                        <tr>
                            <th>番号</th>
                            <th>〇/×</th>
                            <th>単語</th>
                            <th>意味</th>
                        </tr>
                        {% for word in words %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td></td>
                            <td>{{ word.english}}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <p class="selected_text">{{ selected_text }}</p>
                    <p class="test_rang">範囲 {{ start_range }} ～ {{ end_range }}</p>
                    <p class="score"> / {{ question_count }}</p>
            </div>
            <div class="printer-setting">
                <table>
                    <tr>
                        <th>番号</th>
                        <th>〇/×</th>
                        <th>単語</th>
                        <th>意味</th>
                    </tr>
                    {% for word in words %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td></td>
                        <td>{{ word.english }}</td>
                        <td>{{ word.japanese }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <p class="selected_text">{{ selected_text }}</p>
                <p class="test_rang">範囲 {{ start_range }} ～ {{ end_range }}</p>
                <p class="score"> / {{ question_count }}</p>
            </div>
        </div>

        <div id="japanese-to-english-content" class="tab" style="display: none;">
            <div class="printer-setting">
                <table>
                    <tr>
                        <th>番号</th>
                        <th>〇/×</th>
                        <th>日本語</th>
                        <th>英語</th>
                    </tr>
                    {% for word in words %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td></td>
                        <td>{{ word.japanese }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
                <p class="selected_text">{{ selected_text }}</p>
                <p class="test_rang">範囲 {{ start_range }} ～ {{ end_range }}</p>
                <p class="score"> / {{ question_count }}</p>    
            </div>
            <div class="printer-setting">
                <table>
                    <tr>
                        <th>番号</th>
                        <th>〇/×</th>
                        <th>日本語</th>
                        <th>英語</th>
                    </tr>
                    {% for word in words %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td></td>
                        <td>{{ word.japanese }}</td>
                        <td>{{ word.english }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <p class="selected_text">{{ selected_text }}</p>
                <p class="test_rang">範囲 {{ start_range }} ～ {{ end_range }}</p>
                <p class="score"> / {{ question_count }}</p>
            </div>
        </div>
    </div>
    <script>
        // **タブ切り替え**
        function showTab(tabId) {
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => {
                tab.style.display = 'none';
            });
            document.getElementById(tabId).style.display = 'block';
        }

        document.getElementById('english-to-japanese-button').addEventListener('click', function() {
            showTab('english-to-japanese-content');
        });

        document.getElementById('japanese-to-english-button').addEventListener('click', function() {
            showTab('japanese-to-english-content');
        });

        // 初期表示を設定
        showTab('english-to-japanese-content');
    </script>
</body>
</html>