<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>単語編集</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin_screen/css/edit_word_style.css' %}">
</head>
<body>
    <h1>単語編集</h1>
    <form method="post" action="{% url 'save_word' %}">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="word_id" value="{{ word.id }}">

        <label for="no">No:</label>
        <input type="text" id="no" name="no" value="{{ word.no }}">

        <label for="english">英語:</label>
        <input type="text" id="english" name="english" value="{{ word.english }}">

        <label for="japanese">日本語:</label>
        <input type="text" id="japanese" name="japanese" value="{{ word.japanese }}">

        <button type="submit">保存</button>
    </form>
</body>
</html>