body {
    font-family: Arial, sans-serif;
    background-color: #f8fafc;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 5vh;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline;
    margin: 0 15px;
}

ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

form {
    text-align: center;
    margin-top: 20px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

form button:hover {
    background-color: #0056b3;
}

form {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 0;
}

form button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

form button:hover {
    background-color: #cc0000;
}

/* .hideBeforeVue {
    visibility: hidden;
} */

#speeddial{
    position: fixed;
    top: 5vh;
    right: 5vh;
}

#links{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    height: 75vh;
}